In [5]:
import pandas as pd 
df1 = pd.read_excel(r'D:\dataset\messy.xlsx',sheet_name='test')
# 1 Clean the names of columns to lowercase separated by “_”, remove any empty columns if necessary
df1 = df1.rename(columns={
    'CUst ID': 'Customer ID', 
    '  JOIN% DATE': 'Join Date', 
    'Unnamed: 2': 'Notes', 
    'mobiles': 'Mobiles', 
    '  FLL NAM': 'Full Name'
})

def convertPhoneNumber(Mobiles):
    Mobiles = str(Mobiles)  # Chuyển thành chuỗi
    
    if len(Mobiles) > 9:  # Nếu số quá dài, chỉ lấy 9 số cuối và thêm 0 vào đầu
        return '0' + Mobiles[-9:]
    # Nếu số bắt đầu bằng 84, +84 hoặc 00 thì loại bỏ và thêm 0 vào đầu nếu cần
    if Mobiles.startswith('84'):
        Mobiles = Mobiles[2:]
    elif Mobiles.startswith('+84'):
        Mobiles = Mobiles[3:]
    elif Mobiles.startswith('00'):
        Mobiles = Mobiles[4:]
    # Nếu số chưa có '0' ở đầu thì thêm vào
    return '0' + Mobiles if not Mobiles.startswith('0') else Mobiles
        

def cleanDate(date_str):
    date_str =str(date_str)
    if " " in date_str:
        date_str = date_str.split(" ")[0]
    if date_str.isdigit() and len(date_str) == 8:
         date_str = f"{date_str[:4]}-{date_str[4:6]}-{date_str[6:]}"
         return pd.to_datetime(date_str, errors='coerce', dayfirst=True)    
# Áp dụng hàm convertPhoneNumber cho cột Mobiles
df1 ['Mobiles'] = df1['Mobiles'].apply(convertPhoneNumber)
# Áp dụng hàm strip() (loại kí tự trắng) và title()(chuyển chữ cái đầu thành viết hoa) cho cột Full Name
df1['Full Name'] = df1['Full Name'].str.strip().str.title() 
# Áp dụng hàm cleanDate cho cột Join Date
df1['Join Date'] = df1['Join Date'].apply(cleanDate) 
# Chuyển dữ liệu của cột về kiểu chuỗi, sau đó tách chuỗi bởi dấu cách và lấy phần tử đầu tiên
df1['Join Date'] = df1['Join Date'].astype(str).str.split(' ').str[0] 
# Chuyển dữ liệu của cột về kiểu datetime, rồi format lại theo kiểu '%Y-%m-%d', nếu có lỗi thì fill bằng NaT
df1['Join Date'] = pd.to_datetime(df1['Join Date'], format='%Y-%m-%d', errors='coerce') 
# Tách cột Full Name thành First Name và Last Name với dấu cách làm điểm tách từ phải qua trái
df1[['First Name', 'Last Name']] = df1['Full Name'].str.rsplit(' ', n=1, expand=True)
# Kiểm tra cột FullName có tên nào có 3 từ không, nếu có thì tạo cột Has Three Word với giá trị True, ngược lại False, đếm giá trị trùng lặp
# df1['Has Three Word'] = df1['Full Name'].str.split().apply(len)==3
# df1['Has Three Word'].value_counts()
# print(df1['Has Three Word'].value_counts())
df1['Email']=df1['Last Name'].str.lower()+'.'+df1['First Name'].str.lower()+'.'+df1['Customer ID'].astype(str)+'@yourcompany.com'
df1

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_23136\3889530066.py:34: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  return pd.to_datetime(date_str, errors='coerce', dayfirst=True)

,Customer ID,Join Date,Notes,Mobiles,Full Name,First Name,Last Name,Email
0,1,NaT,NaN,0333605993,Michael Michalek,Michael,Michalek,michalek.michael.1@yourcompany.com
1,2,NaT,NaN,0973444062,Andrew Jimenez,Andrew,Jimenez,jimenez.andrew.2@yourcompany.com
2,3,2019-06-30,NaN,0338262954,Ann Gow,Ann,Gow,gow.ann.3@yourcompany.com
3,4,NaT,NaN,0966068026,James Chen,James,Chen,chen.james.4@yourcompany.com
4,5,2017-12-08,NaN,0767065885,Dollie Martinez,Dollie,Martinez,martinez.dollie.5@yourcompany.com
...,...,...,...,...,...,...,...,...
95,96,2019-08-16,NaN,0334555439,Ron Grollimund,Ron,Grollimund,grollimund.ron.96@yourcompany.com
96,97,NaT,NaN,0972812359,Daniel Bentley,Daniel,Bentley,bentley.daniel.97@yourcompany.com
97,98,NaT,NaN,0865784802,Eugene Brown,Eugene,Brown,brown.eugene.98@yourcompany.com
98,99,2019-12-06,NaN,0221343238,Elmer Miller,Elmer,Miller,miller.elmer.99@yourcompany.com
99,100,2019-08-22,NaN,0264626143,Frances Holland,Frances,Holland,holland.frances.100@yourcompany.com