In [1]:
import pandas as pd

# Tạo hai bảng (dataframes)
df1 = pd.DataFrame({
    'ID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40]
})

df2 = pd.DataFrame({
    'ID': [3, 4, 5, 6],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston'],
    'Salary': [70000, 80000, 50000, 60000]
})

merged_df = pd.merge(df1, df2, on='ID', how='left')  # 'inner' chỉ giữ giá trị chung

print(merged_df)

   ID     Name  Age         City   Salary
0   1    Alice   25          NaN      NaN
1   2      Bob   30          NaN      NaN
2   3  Charlie   35     New York  70000.0
3   4    David   40  Los Angeles  80000.0