In [11]:
import pandas as pd
import numpy as np
import re

df = pd.read_excel(r'D:\dataset\messy\Cus call list.xlsx')
df = df.rename(columns={'CustomerID': 'CustomerID',
                         'First_Name': 'First Name', 
                         'Last_Name': 'Last Name', 
                         'Phone_Number': 'Phone Number', 
                         'Address': 'Address',
                         'Paying Customer': 'Paying Customer', 
                         'Do_Not_Contact': 'Do Not Contact', 
                         'Not_Useful_Column': 'Not Useful Column'})

def cleanPhoneNumbers(PhoneNumber):
    PhoneNumber = str(PhoneNumber) 
    # Check if the value is NaN or in ["n/a", "na"]
    if pd.isna(PhoneNumber) or str(PhoneNumber).lower() in ["n/a", "na"]:
        return "0"
    # Use regex to remove all non-digit characters
    PhoneNumber = re.sub(r"[^\d]", "", PhoneNumber)
    # If the phone number has 10 digits, format it as 3-3-4
    if len(PhoneNumber) == 10:
        return f"{PhoneNumber[:3]}-{PhoneNumber[3:6]}-{PhoneNumber[6:]}"
    # If the phone number has 11 digits and starts with 1, format it as 1-3-3-4
    elif len(PhoneNumber) == 11 and PhoneNumber[0] == "1":
        return f"{PhoneNumber[1:4]}-{PhoneNumber[4:7]}-{PhoneNumber[7:]}"
    else:
        return "0"

def cleanLastName(LastName):
    LastName = str(LastName)
    # Check if the value is NaN or in ["n/a", "na"]
    if pd.isna(LastName) or str(LastName).lower() in ["n/a", "na"]:
        return "0"
    # Loc cac ky tu khong phai la chu cai hoac khoang trang
    LastName = re.sub(r"[^a-zA-Z\s]", "", LastName)
    # Xoa khoang trang thua
    LastName = " ".join(LastName.split()) 
    return LastName

df = df.drop_duplicates()
df['Phone Number'] = df['Phone Number'].apply(cleanPhoneNumbers)
df['Last Name'] = df['Last Name'].apply(cleanLastName)
df["Paying Customer"] = df["Paying Customer"].replace({"Yes": "Y", "No": "N","N/a":"N"})
df["Do Not Contact"] = df["Do Not Contact"].replace({"Yes": "Y", "No": "Y","N/a":"N"})
df["Address"] = df["Address"].replace({"N/a":"No Address"})
df = df.drop(columns=["Not Useful Column"])
df.fillna("N", inplace=True)

df

,CustomerID,First Name,Last Name,Phone Number,Address,Paying Customer,Do Not Contact
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Y,Y
1,1002,Abed,Nadir,123-643-9775,93 West Main Street,N,Y
2,1003,Walter,White,706-695-0392,298 Drugs Driveway,N,N
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Y,Y
4,1005,Jon,Snow,876-678-3469,123 Dragons Road,Y,Y
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Y,Y
6,1007,Jeff,Winger,0,1209 South Street,N,Y
7,1008,Sherlock,Holmes,876-678-3469,98 Clue Drive,N,Y
8,1009,Gandalf,nan,0,123 Middle Earth,Y,N
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Y,Y
10,1011,Samwise,Gamgee,0,"612 Shire Lane, Shire",Y,Y
11,1012,Harry,Potter,706-695-0392,2394 Hogwarts Avenue,Y,N
12,1013,Don,Draper,123-543-2345,2039 Main Street,Y,N
13,1014,Leslie,Knope,876-678-3469,343 City Parkway,Y,Y
14,1015,Toby,Flenderson,304-762-2467,214 HR Avenue,N,Y
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,N,N
16,1017,Michael,Scott,123-643-9775,"121 Paper Avenue, Pennsylvania",Y,Y
17,1018,Clark,Kent,706-695-0392,3498 Super Lane,Y,N
18,1019,Creed,Braton,0,No Address,N,Y
19,1020,Anakin,Skywalker,876-678-3469,"910 Tatooine Road, Tatooine",Y,N