In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_excel(r'D:\dataset\Social Meida Dataset.xlsx')
df.head(15)

,Consumer ID,Customer Name,Age,Gender,Income (USD),Education Level,Social Media Usage (Hours/Day),Social Media Platforms,Influence Level,Purchase Decision,Product Category,Specific Product,Amount Spent (USD),Brand Name,City
0,1,Alice Johnson,28,Female,45000,Bachelor's,2.5,"Instagram, Twitter",Very Influential,Yes,Fashion,Dress,200,"Nike, Zara",New York
1,2,Bob Smith,35,Male,60000,Master's,1.8,"Facebook, Instagram",Somewhat Influential,Yes,Electronics,Smartphone,800,"Apple, Samsung",Los Angeles
2,3,Chris Taylor,22,Non-binary,32000,High School,4.0,"TikTok, Snapchat",Not Influential,No,NaN,NaN,0,NaN,Chicago
3,4,David Brown,40,Male,75000,PhD,3.2,"Facebook, LinkedIn",Very Influential,Yes,Food,Burger,50,McDonald's,Houston
4,5,Emily White,29,Female,55000,Bachelor's,2.0,"Instagram, TikTok",Somewhat Influential,Yes,Beauty,Makeup,100,Sephora,Miami
5,6,Frank Davis,45,Male,80000,Bachelor's,3.5,"Twitter, LinkedIn",Very Influential,Yes,Electronics,TV,600,Samsung,San Francisco
6,7,Grace Smith,32,Female,58000,Master's,2.2,"Instagram, Facebook",Somewhat Influential,Yes,Home Decor,Sofa,300,IKEA,Seattle
7,8,Hannah Johnson,25,Female,40000,Bachelor's,3.0,"TikTok, Instagram",Somewhat Influential,Yes,Fashion,Shoes,150,H&M,Atlanta
8,9,Ivan Hernandez,30,Male,62000,Bachelor's,2.8,"Facebook, Twitter",Very Influential,Yes,Electronics,Laptop,750,Sony,Miami
9,10,Jane Adams,27,Female,48000,Master's,2.7,"Instagram, TikTok",Very Influential,Yes,Beauty,Skincare,120,MAC Cosmetics,Los Angeles
10,11,Karen White,38,Female,70000,PhD,2.0,"LinkedIn, Twitter",Somewhat Influential,Yes,Fitness,Running Shoes,250,"Nike, Adidas",San Diego
11,12,Liam Martin,24,Male,36000,High School,5.0,"Snapchat, Instagram",Not Influential,No,NaN,NaN,0,NaN,Boston
12,13,Mia Garcia,31,Female,56000,Bachelor's,2.3,"Facebook, TikTok",Somewhat Influential,Yes,Home Decor,Bedding,180,"IKEA, Target",Phoenix
13,14,Noah Anderson,26,Male,48000,Master's,2.2,"Instagram, Twitter",Very Influential,Yes,Fashion,T-shirt,130,"Zara, H&M",Denver
14,15,Olivia Lewis,29,Female,51000,Bachelor's,3.8,"TikTok, Snapchat",Very Influential,Yes,Beauty,Lipstick,90,"Sephora, L'Oréal",Chicago